.user_tag {
  display: flex;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 12500000rem;
  background: var(--Bg-colors-grey-light, #F9FBFF);

  .icon {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 12500rem;
    background: #D7797A;

    p {
      color: var(--Text-colors-primary-new, #162029);
      text-align: center;
      leading-trim: both;
      text-edge: cap;
      font-family: Urbanist;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      flex-shrink: 0;
    }
  }

  .name {
    overflow: hidden;
    color: var(--Text-colors-primary-new, #162029);
    text-overflow: ellipsis;
    font-family: Urbanist;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .cursor {
    cursor: pointer;
  }
}