
.login_page {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .form {
    display: flex;
    width: 26.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7.5rem;

    h1 {
      color: var(--Text-colors-primary-new, #162029);
      text-align: center;
      font-family: Urbanist;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      align-self: stretch;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;

      input {
        display: flex;
        padding: 0.75rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        align-self: stretch;
        border-radius: 124999999488rem;
        border: 1px solid var(--Border-colors-light, #F2F6FC);

        color: var(--Text-colors-secondary-new, #646E7D);
        font-family: Urbanist;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        flex: 1 0 0;
        min-height: 40px;

        &:focus {
          border-radius: 124999999488rem;
          border: 1px solid var(--Orange, #FF6204);
        }
      }
    }

    .button {
      display: flex;
      height: 2.5rem;
      padding: 0.5rem 0.75rem;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      align-self: stretch;
      border-radius: 125000000rem;
      background: var(--Orange, #FF6204);
      cursor: pointer;

      p {
        color: var(--Text-colors-primary-inverted, #FFF);
        font-family: Urbanist;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .alter {
      color: var(--Text-colors-secondary-new, #646E7D);
      text-align: center;
      font-family: Urbanist;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      align-self: stretch;

      span {
        cursor: pointer;
        color: var(--Orange, #FF6204);
        font-family: Urbanist;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
      }
    }
  }
}