.sort_by {
  display: flex;
  width: 11.3125rem;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.75rem;
  border: 1px solid var(--Border-colors-light, #f2f6fc);
  background: var(--Bg-colors-opaque, #fff);
  box-shadow: 1px 4px 12px 4px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: 1.25rem;
  z-index: 11;

  .text {
    display: flex;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    border-radius: 0.5rem;

    p {
      color: var(--Text-colors-secondary-new, #646e7d);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      flex: 1 0 0;
    }
  }

  .option {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    border-radius: 0.5rem;

    &:hover {
      background: var(--Bg-colors-grey-light, #f9fbff);
    }

    p {
      color: var(--Text-colors-primary-new, #162029);
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      flex: 1 0 0;
    }

    svg * {
      fill: var(--Text-colors-primary-new, #162029);
    }

    &.selected {
      background: rgba(255, 98, 4, 0.08);

      p {
        color: var(--Orange, #ff6204) !important;
      }

      svg * {
        fill: var(--Orange, #ff6204);
      }
    }
  }
}
